#banner {
	background-image: url("../images/banner.png");
	background-size: cover;
	height: 550px;
}

.logo {
	
	border: 1px solid #ffffff00;	
}
.logo img{
	background: rgba(242, 201, 76, 0.39);
	border: 3px solid #F2C94C;
	box-sizing: border-box;
	border-radius: 8px;
	margin-top: 200px;
}

h2 {
	font: 33px ;
	margin-top: 30px;
	text-align: center;
	text-transform: uppercase;
  }
  h2.background {
	position: relative;
	z-index: 1;
  }
  
  h2.background span {
	background: #fff;
	padding: 0 15px;
  }
  h2.double:before {
	/* this is just to undo the :before styling from above */
  
	border-top: none;
  }
  h2.double:after {
	border-bottom: 1px solid #F2C94C;
	-webkit-box-shadow: 0 1px 0 0 #F2C94C;
	-moz-box-shadow: 0 1px 0 0 #F2C94C;
	box-shadow: 0 1px 0 0 #F2C94C;
	content: "";
	margin: 0 auto;
	/* this centers the line to the full width specified */
  
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	width: 95%;
	z-index: -1;
  }