body {
	position: relative;
}
html {
  scroll-behavior: smooth;
}


/*
div.barras-hr {
	display: flex;
	align-items: center;
}

div.barras-hr hr {
	background-color: #F2C94C;
	height: 2px;
	border: none;
	margin-top: 30px;
}

.menor-hr {
	width: 15%
}

.maior-hr {
	width: 55%;
}*/

div.up-to-page {
	position: fixed;
	width: 60px;
	height: 60px;
	z-index: 20;
	background-color: #F2C94C;
	bottom: 30px;
	right: 30px;
	box-shadow: 0 1px 5px rgba(0,0,0,1);
	border-radius: 50%;
	display: none;
	align-items: center;
	justify-content: center;
}

.up-to-page a {
	text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner {
	background-image: url("../images/banner-escuro.png");
	background-size: cover;
	height: 550px;
	margin-top: -1px;
	
}

.logo {
	
	border: 1px solid #ffffff00;	
}
.logo img{
	background: rgba(242, 201, 76, 0.39);
	border: 3px solid #F2C94C;
	box-sizing: border-box;
	border-radius: 8px;
	margin-top: 200px;
}


h2 {
	font: 33px ;
	margin-top: 30px;
	text-align: center;
	text-transform: uppercase;
  }
  h2.background {
	position: relative;
	z-index: 1;
  }
  
  h2.background span {
	background: #fff;
	padding: 0 15px;
  }
  h2.double:before {
	/* this is just to undo the :before styling from above */
  
	border-top: none;
  }
  h2.double:after {
	border-bottom: 1px solid #F2C94C;
	-webkit-box-shadow: 0 1px 0 0 #F2C94C;
	-moz-box-shadow: 0 1px 0 0 #F2C94C;
	box-shadow: 0 1px 0 0 #F2C94C;
	content: "";
	margin: 0 auto;
	/* this centers the line to the full width specified */
  
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	width: 95%;
	z-index: -1;
	}
	
p.container-center {
	margin: 0 auto;
	margin-top: 40px;
	text-decoration: justify;
	line-height: 32px;
	
}

.fachada {
	width: 300px;
	margin-left: auto;
}

div.container-grid {
	display: grid;
	max-width: 900px;
	margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
}

div.container-flex-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.container-flex-items strong {
	margin-top: 20px;
}

div.container-flex-items img {
	width: 200px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

div.container-flex-items p {
	text-align: center;
	margin-top: 20px;
}

div.box-area {
	padding: 15px;
	border: 2px solid #F2C94C;
	border-radius: 30px;
	margin: 10px;
}

div.container-maps {
	display: flex;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

div.container-maps-items {
	max-width: 300px;
	text-align: center;
	margin-right: 30px;
}

div.container-maps-items strong {
	margin-bottom: 20px;
}


footer {
	background-color: #404040;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

footer img {
	width: 300px;
}

.container-contato {
	display: flex;
	width: 100%;
	max-width: 900px;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	align-items: flex-start;
	justify-content: space-between;
}
.container-contato-infos {
	max-width: 400px;
	padding-left: 5%;
}

fieldset label, input, textarea {
	display: block;
	margin-bottom: 15px;
}

fieldset input, textarea, .envi {
	border: 2px solid #F2C94C;
	width: 100%;
	padding: 6px;
}

fieldset button {
	background-color: #F2C94C;
}

fieldset button:hover {
	background-color: #fff;
}

fieldset label {
	text-align: center;
	font-weight: bold;
}

.container-contato-logos {
	margin-top: 20px;
	display: flex;
}

.container-contato-logos a {
	padding: 5px;
}

.container-contato-logos img {
	height: 50px;
	width: 50px;
}

.fadeIn {
	animation: fadein 5s;
}

.slide {
	animation: slideright 5s;
}


@keyframes fadein{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.anime {
	opacity: 0;
	transform: translate3d(100px,0,0);
	transition: .5s;
}

.anime2 {
	opacity: 0;
	transform: translate3d(-100px,0,0);
	transition: .5s;
}

.anime3 {
	opacity: 1;
	transform: initial;
	transition: 1.2s;
}

.anime-start {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.fadeIn-start {
	opacity: 0;
}
/*
* Responsividade
*/

@media (max-width: 690px) {
	/*
	*		SECTION ÁREAS DE ATUAÇÃO
	*/

	div.container-grid {
		display: grid;
		max-width: 580px;
		margin: 0 auto;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 3px;
	}

	/*
	* 	SECTION CONTATO
	*/
	.container-contato {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}
	.container-contato-infos {
		margin-bottom: 20px;
	}
}

@media (max-width: 503px) {
	/*
	*		SECTION LOCALIZAÇÃO
	*/

	.container-maps {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.container-maps-items {
		margin-top: -20px;
		margin-bottom: 10px;
	}

	/*
	*		SECTION ÁREAS DE ATUAÇÃO
	*/

	div.container-grid {
		padding-left: 5%;
		padding-right: 5%;
		display: grid;
		max-width: 400px;
		margin: 0 auto;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 3px;
		margin-top: 20px;
	}
}
