#banner {
	background-image: url("../images/banner.png");
	background-size: cover;
	height: 551px;
}

.logo {
	margin-top: auto;
	border: 1px solid #ffffff;	
}

.logo img{
	background: rgba(242, 201, 76, 0.39);
	border: 3px solid #F2C94C;
	box-sizing: border-box;
	border-radius: 8px;

}